<img src="img/core-img/succ.png" alt="" style="display: block;
margin-left: auto;
margin-right: auto;
width: 10%;">
<h1 style="text-align: center; color: green; font-family: Verdana, Geneva, Tahoma, sans-serif;">Order Placed Successfully!</h1>
<button style="margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
color: white;
background-color: green;
border-radius: 5px;
padding: 10px;">Take me Home</button>